.footer{
 margin-top:30px;
  color: #cccccc;
  background-color: #008ECC;

  a{
    img{
      border-radius: 4%;
      height: 20vh;
      max-width: 100%;
      background-color: #fff;
      padding: 10px;
    }
    @media (min-width: 992px) {
        img{
          height: 15vh;
        }
    }
    @media (min-width: 1200px) {
      img{
        height: 19vh;
      }
    }

  }
  img{

      border-radius: 4%;
      height: 20vh;
      max-width: 100%;

  }

  @media (min-width: 768px) {
   .footer_margin{
     margin-top: 50px;
   }
  }
  @media (min-width: 992px) {
    .footer_margin{
      margin-top: 0;
    }
  }
  @media (min-width: 1200px) {
    .footer_margin{
      margin-top: 0;
    }
  }
  .text_below_logo{
    margin-top: 15px;
    margin-right: 15px;
    //padding: 15px;
    p {
      font-size: 1em;

    }
  }

  h4{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
    //&:after{
    //  background: none repeat scroll 0 0 #f9f9ff;
    //  top:10px;
    //  content: "";
    //  display: block;
    //  height: 2.5px;
    //  position: relative;
    //  text-align: center;
    //  width: 20%;
    //  margin-bottom: 20px;
    //}
  }
  @media (max-width: 576px) {
    h4{
      margin-top: 20px;
    }
  }

  .quick_links{
    //padding-left: 30px;
    list-style-type: none;
    text-transform: uppercase;
    font-family: 'Questrial', sans-serif;
    font-weight: 200;
    li{
      font-size: 1em;
      padding-bottom: 5px;
    a{
      color: #cccccc;
      &:hover{
        text-decoration: none;
        color:#fff;
      }
    }
    }
  }
  .contact_links{

    list-style-type: none;
    margin-bottom: 20px;
    //padding-left: 30px;
    li{
      margin-bottom: 20px;
      font-family: 'Montserrat', sans-serif;
    }
    span{
      text-transform: uppercase;
      font-size: 1em;
      font-family: 'Questrial', sans-serif;
      color: #cccccc;
      margin-bottom: 10px;
    }
  }
  .donations_links{
    list-style-type: none;
    //padding-left: 30px;
    li{
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 20px;
    }
    span{
      text-transform: uppercase;
      font-family: 'Questrial', sans-serif;
      font-size: 1em;
      color: #cccccc;

    }
  }
  .social-icons{

    h4{
      &:after{
        background: none repeat scroll 0 0 #f9f9ff;
        top:10px;
        content: "";
        display: block;
        height: 2.5px;
        position: relative;
        text-align: center;
        width: 20%;
        margin-bottom: 20px;
      }
    }
    a{
      color: #cccccc;
      border-bottom: 1px solid transparent;
      &:hover{
        color: #008ECC;

        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .copyright{
    margin: 35px 30px 0px 0px;

    //padding: 0px 10px 0px 10px;
    color: #cccccc;
    p{
      padding-top: 10px;
      font-size: 1em;
      a{
        color: #cccccc;
        &:hover{
          color: #fff;
        }
      }
    }

  }

  .social-links {
    padding-top: 10px;
    li {
      display: inline-block;
      margin-bottom: 10px;
      float: right;
      a {
        color: #cccccc;
        padding: 9px;
        //border: 1px solid rgba(42, 42, 42, 0.1);
        font-size: 1em;
        //transition: all 0.2s linear;
        &:hover {
          color: #fff;
          //border: 1px solid rgba(0, 142, 204, 0.1);
          transition: all 0.2s linear;
        }
      }
    }
  }
  @media (max-width: 576px) {
      .social-links{
        float: left;
      }
  }

}