.pastors{
  margin: 40px;
  padding:30px;
  img{
    max-width: 100%;
    height: 60vh;
    border-radius: 4%;

    @media (max-width: 576px) {
      height: 40vh;

    }
    @media (min-width: 768px) {
      height: 50vh;
    }
  }
  h2{
    font-size: 1.2em;
    padding: 15px;
    font-weight: bold;
    margin: 10px;
  }
  @media (max-width: 576px) {
    .pastors_pd{
      margin-bottom:40px;
    }

  }
  .social-links {
    padding-top: 10px;
    li {
      display: inline-block;
      margin-bottom: 10px;
      //float: right;
      a {
        color: #cccccc;
        padding: 9px;
        //border: 1px solid rgba(42, 42, 42, 0.1);
        font-size: 23px;
        transition: all 0.2s linear;
        &:hover {
          color: #008ECC;
          border: 1px solid rgba(0, 142, 204, 0.1);
          transition: all 0.2s linear;
        }
      }
    }
  }
}