
/***===================FOOTER SECTION BEGIN========================***/
.footer  {

  margin: 50px 0px 0px 0px;
  padding: 30px 0px 0px 0px;
  color: #fff;
  background-color: #2a2a2a;
}
.footer p {
  font-size: 18px
}

.copyright{
  padding-top: 50px;
}

.footer h4::after {
  background: none repeat scroll 0 0 #008ECC;
  bottom: -10px;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  text-align: center;
  width: 20%;
  margin-bottom: 20px;
}

/*.social-icons a:hover {*/
/*color: whitesmoke;*/
/*}*/
/*.social-icons a {*/
/*border-radius: 50%;*/
/*}*/
.copyright p::before {
  background: none repeat scroll 0 0 #008ECC;
  bottom: -10px;
  content: "";
  display: block;
  height: 1px;
  position: relative;
  text-align: center;
  width: 100%;
}
.footer p span {
  color: #008ECC;
  font-weight: bold;
  font-size: .8em;

}
/*.footer small a:hover {*/
/*color: whitesmoke;*/
/*text-decoration: none;*/
/*}*/

/*.social-icons a i{*/
/*opacity: 0.25;*/
/*}*/
/*.social-icons a:hover i,*/
/*.social-icons a:focus i{*/
/*opacity: 0.6;*/
/*}*/
/*.contactbottom{*/
/*background-color: #0000F0;*/
/*top:  280px;*/
/*}*/
.social-icons a {
  color: #fff;
  border-bottom: 1px solid transparent;

}

.social-icons a:hover {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.fb {
  background-color: rgb(0, 142, 204);
}
/***===================FOOTER SECTION END========================***/

//
///***===================RESPONSIVE MEDIA QUERIES SECTION BEGIN========================***/
///*Extra small devices (portrait phones, less than 576px)*/
///*No media query for `xs` since this is the default in Bootstrap*/
//
///*Small devices (landscape phones, 576px and up)*/
//@media screen and (max-device-width: 480px) and (orientation: portrait){
//
//  .team_item .team_img img{
//    width: 100%;
//  }
//
//  .team_item .team_img img {
//    max-width: 100%;
//    height: 300px;
//    width: 300px;
//  }
//
//  .contact p:after {
//    background: none repeat scroll 0 0 #008ECC;
//    bottom: -10px;
//    content: "";
//    display: block;
//    height: 1px;
//    position: relative;
//    text-align: center;
//    width: 30%;
//    left: 10px;
//    margin-bottom: 20px;
//  }
//
//  .donations-title img  {
//    height: 60px;
//    width: 60px;
//  }
//  .below-contact {
//    margin-left: 10px;
//  }
//  .below-contact p {
//    font-size: 1.2em;
//  }
//  .below-contact ul {
//    font-size: .7em;
//    margin: 0px 0px 0px 10px;
//  }
//
//  .donations-title p {
//    font-size: 1.3em;
//    margin: 10px 0px 10px 5px;
//  }
//
//  .donations ul {
//    margin: 0px;
//    padding: 0px;
//    font-size: .9em;
//  }
//  .row-sample {
//    margin-left: 4px;
//    padding: 0px;
//  }
//
//  .bottom-contact p span {
//    font-size: .8em;
//    padding: 5px;
//    margin: 5px;
//  }
//
//  .contact {
//    margin: 0px;
//    padding: 0px;
//  }
//  .social-icons ul  {
//    margin-left: 7px;
//    padding: 10px;
//  }
//  .contact h2 {
//    margin-top: 20px;
//    padding-top: 20px;
//  }
//  .bannertitle  {
//
//    margin-top: 10px;
//    margin-bottom: 10px;
//    padding-top: 20px;
//    padding-bottom: 20px;
//  }
//  .navbar-custom{
//    margin: 0px;
//    padding: 0px;
//  }
//  .navbar-custom img {
//    position: relative;
//    top: 10px;
//    /*background: rgba(255, 255, 255, 0.4);*/
//    background-color: white;
//    height: 105px;
//    width: 105px;
//    border-radius: 50%;
//    padding: 5px;
//    left: -40px;
//    margin-bottom: 10px;
//    /*width: 15vw;*/
//    /*-webkit-border-radius: 60px 50px 50px 50px;*/
//    /*-moz-border-radius: 60px 50px 50px 50px;*/
//    /*border-radius: 60px 50px 50px 50px;*/
//  }
//  .navbar-custom button {
//    background-color: white ;
//    position: relative;
//    top: 10px;
//  }
//
//  .navbar-custom-collapse {
//    background-color: #008ECC;
//    margin-bottom: 10px;
//    position: relative;
//    top: 10px;
//    left: 5px;
//  }
//
//  .navbar-custom ul li a:hover{
//    /*background-color: #008ECC;*/
//    /*background: rgba(100, 149, 237, 1);*/
//    color: #fff!important;
//    /*border-radius: 50px 50px 50px 50px;*/
//    /*color: #008ECC!important;*/
//    padding: 5px;
//
//  }
//  .home-slider {
//    position: relative;
//    top: -20px;
//    bottom: 0px;
//  }
//
//  .owl-carousel .item {
//    position: relative;
//    display: block;
//    height: 30vh;
//  }
//
//  .item img {
//    max-width: 100%;
//    height: auto;
//  }
//
//  .navbar-custom img {
//    margin-top: 10px;
//  }
//
//  /*img .responsive {*/
//  /*width: 100%;*/
//  /*max-height: 40%;*/
//  /*}*/
//
//  .bottom-left {
//    position: absolute;
//    bottom: 20px;
//    color: #fff;
//    left: 15px;
//    min-width: 45%;
//    /*line-height: 20em;*/
//    background: rgba(100, 149, 237, 0.6);
//    border-radius: 50px 50px 50px 50px;
//    /*background-color: #008ff0;*/
//  }
//
//  .bottom-left .slidertextone {
//    font: italic 2.0em 'Source Sans Pro', sans-serif;
//    color: white;
//    width: 100%;
//    text-align: left;
//    text-shadow: 2px 2px 4px #000000;
//    bottom: -5px;
//    position: relative;
//  }
//
//  .bottom-left .slidertexttwo {
//    font: italic 2.0em 'Source Sans Pro', sans-serif;
//    color: white;
//    text-align: right;
//    text-shadow: 2px 2px 4px #000000;
//    padding-right: 8px;
//    bottom: 5px;
//    position: relative;
//  }
//
//  .services {
//    color: #fff;
//    background-color: #2a2a2a;
//    padding-bottom: 50px;
//    font-size: .9em;
//
//  }
//  .services h4 {
//    padding: 0px;
//    margin: 40px 0px 20px 0px;
//  }
//  .services ul {
//
//    padding: 0px!important;
//    list-style-type: none;
//  }
//  .services ul li {
//    text-align: center;
//  }
//  .services h4:after {
//    background: none repeat scroll 0 0 #008ECC;
//    bottom: -10px;
//    content: "";
//    display: block;
//    height: 1px;
//    position: relative;
//    text-align: center;
//    width: 90%;
//    margin: 0px 0px 10px 15px;
//  }
//  .services ul li::after {
//    background: none repeat scroll 0 0 #f5f5f5;
//    bottom: -15px;
//    content: "";
//    display: block;
//    height: 1px;
//    left: 18px;
//    position: relative;
//    text-align: center;
//    width: 90%;
//    margin-bottom: 10px;
//    padding-right: 20px;
//    padding-left: 20px;
//
//  }
//
//
//  .footer  {
//    text-align: center;
//    padding: 30px 10px 0px 10px;
//  }
//  .footer h4 {
//    text-align: left;
//    left: 20px;
//    position: relative;
//  }
//  .footer h4:after {
//    background: none repeat scroll 0 0 #008ECC;
//    bottom: -10px;
//    content: "";
//    display: block;
//    height: 1px;
//    position: relative;
//    left: 0px;
//    text-align: center;
//    width: 20%;
//    margin-bottom: 20px;
//  }
//
//  .link {
//    padding: 0px;
//    position: relative;
//    top: -10px;
//  }
//  .breadcrumbstop ul{
//    margin: 0px 20px 30px 20px;
//    padding: 20px;
//    list-style: none;
//    position: relative;
//    left: 0px;
//    top: -65px;
//  }
//
//  #breadcrumbs-two{
//    font-size: 14px;
//    width: 90%;
//    position: relative;
//    top: -30px;
//
//  }
//
//  .departments {
//    padding: 0px;
//    margin: 0px;
//  }
//  .departments p {
//    padding: 10px;
//    font-size: .8em;
//    margin-right: 10px;
//  }
//
//  .departments a {
//    font-size: .8em;
//  }
//
//  .tabs {
//    font-size: 14px;
//    padding: 5px;
//  }
//
//  .tabs [class^="tab"] label,
//  .tabs [class*=" tab"] label {
//    color: #000000;
//    cursor: pointer;
//    display: block;
//    font-size: 1.0em;
//    font-weight: 700;
//    line-height: .7em;
//    padding: 1rem 0;
//    text-align: center; }
//  .about{
//    margin-top: 30px;
//  }
//
//  .ministry {
//    margin: 0px;
//    padding: 0px;
//  }
//
//  .ministry h2 {
//    font-size: 15px;
//  }
//
//  .ministry .list-group a{
//
//    font-size: .8em;
//  }
//
//  .ministry p {
//    font-size: .8em;
//  }
//
//
//
//  .departments h2 {
//    font-size: 14px;
//  }
//
//  .departments p {
//    position: relative;
//    left: 20px;
//    font-size: 12px;
//  }
//
//  .departments a {
//    color: #008ECC!important;
//    font-weight: bold;
//    font-size: 12px;
//  }
//
//
//  .programmes h2 {
//    font-size: 14px;
//  }
//
//
//  .programmes .list-group a{
//    background-color: transparent;
//    font-weight: bold;
//    font-size: .8em;
//  }
//
//
//  .programmes {
//    margin: 0px;
//    padding: 0px;
//  }
//  .lord h2 {
//    font-size: 14px;
//  }
//
//  /*.lord p {*/
//  /*position: relative;*/
//  /*left: 10px;*/
//  /*font-size: 11px;*/
//  /*}*/
//
//  .footer p {
//    font-size: 16px;
//    text-wrap: normal;
//  }
//
//  .foot er span {
//    font-size: 16px;
//
//  }
//  .lord{
//    margin: 0px;
//    padding: 0px;
//  }
//
//  .lord p {
//    position: relative;
//    left: 10px;
//    font-size: .8em;
//    line-height: 1.45em;
//  }
//
//  .event_post ul {
//    font-size: .8em;
//  }
//
//  .event_post h2 {
//    font-size: 1em;
//  }
//  .event_post .btn_hover {
//    font-size: .8em;
//    margin: 0px 0px 15px 0px;
//  }
//
//  .blog_info{
//    text-align: left !important;
//    padding-top: 0px;
//    padding-bottom: 10px;
//  }
//  .blog_meta li{
//    display: inline-block;
//    width: calc(95%/ 2);
//  }
//  .single-post .blog_info{
//    padding-top: 30px;
//    padding-bottom: 0px;
//  }
//  .single-post-area .social-links{
//    padding-left: 0px;
//    margin-bottom: 0px;
//  }
//
//  .categories_post img{
//    width: 100%;
//    margin-bottom: 20px;
//
//  }
//
//
//  /*.team_item .team_img img{*/
//  /*width: 100%;*/
//  /*}*/
//}
//
//
///*Medium devices (tablets, 768px and up)*/
//@media (min-width: 768px) {
//
//  .event_post h2 {
//    font-size: .95em;
//  }
//
//  .event_post ul {
//    font-size: .8em;
//  }
//  .event_post .btn_hover {
//    font-size: .8em;
//  }
//  .contact  {
//    margin:20px 0px 0px 0px;
//    padding: 0px;
//  }
//  .bottom-contact p span {
//    font-size: .9em;
//  }
//  .below-contact p span {
//    font-size: .6em;
//  }
//
//  .donations-title p span{
//    font-size: .8em;
//  }
//  .donations-title img  {
//    height: 90px;
//    width: 90px;
//  }
//  .below-contact ul {
//
//    font-size: .9em;
//  }
//  .donations ul {
//    margin: 0px 0px 0px 30px;
//  }
//
//  .breadcrumb-wrap {
//    margin-top: 0px;
//  }
//  .link {
//    padding: 0px;
//    position: relative;
//    top: 40px;
//  }
//  .navbar-custom ul li a:hover{
//    /*background-color: #008ECC;*/
//    /*background: rgba(100, 149, 237, 1);*/
//    color: #fff!important;
//    /*border-radius: 50px 50px 50px 50px;*/
//    /*color: #008ECC!important;*/
//    padding: 5px;
//
//  }
//
//  .navbar-custom img {
//    position: relative;
//    top: 0px;
//    /*background: rgba(255, 255, 255, 0.4);*/
//    background-color: white;
//    padding: 10px;
//    height: 110px;
//    width: 110px;
//    border-radius: 50%;
//    /*-webkit-border-radius: 60px 50px 50px 50px;*/
//    /*-moz-border-radius: 60px 50px 50px 50px;*/
//    /*border-radius: 60px 50px 50px 50px;*/
//  }
//
//  .navbar-custom {
//    position: relative;
//    top: 0px;
//    padding-bottom: 5px;
//  }
//  .navbar-custom button {
//    background-color: white ;
//  }
//  .navbar-custom-collapse {
//    background-color: #008ECC;
//    margin-bottom: 0px;
//    position: relative;
//    top: 10px;
//    left: 5px;
//  }
//
//  .home-slider {
//    position: relative;
//    top: 0px;
//  }
//
//  .owl-carousel .item {
//    height: 55vh;
//  }
//
//  .item img {
//    max-width: 100%;
//    height: auto;
//  }
//  .bottom-left {
//    position: absolute;
//    bottom: 80px;
//    color: #fff;
//    left: 15px;
//    min-width: 42%;
//    /*line-height: 20em;*/
//    background: rgba(100, 149, 237, 0.6);
//    border-radius: 50px 50px 50px 50px;
//    /*background-color: #008ff0;*/
//  }
//
//  .bottom-left .slidertextone {
//    font: italic 3.5em 'Source Sans Pro', sans-serif;
//    color: white;
//    width: 100%;
//    text-align: left;
//    text-shadow: 2px 2px 4px #000000;
//    bottom: -12px;
//    position: relative;
//  }
//
//  .bottom-left .slidertexttwo {
//    font: italic 3.5em 'Source Sans Pro', sans-serif;
//    color: white;
//    text-align: right;
//    text-shadow: 2px 2px 4px #000000;
//    padding-right: 8px;
//    bottom: 12px;
//    position: relative;
//  }
//
//  .breadcrumbstop ul{
//    margin: 0px 20px 30px 20px;
//    padding: 20px;
//    list-style: none;
//    position: absolute;
//    left: -50px;
//    top: 10px;
//  }
//
//  .tabs {
//    font-size: 14px;
//    line-height: 1.7em;
//    padding: 5px;
//  }
//
//  .ministry h2 {
//    font-size: 16px;
//  }
//
//  .ministry .list-group a{
//
//    font-size: 13px;
//  }
//
//  .ministry p {
//    position: relative;
//    left: 10px;
//    font-size: 14px;
//  }
//
//  .ministry h5 {
//    position: relative;
//    left: 10px;
//  }
//
//
//  .departments h2 {
//    font-size: 16px;
//  }
//
//  .departments p {
//    position: relative;
//    left: 20px;
//    font-size: 14px;
//  }
//
//  .departments a {
//    color: #008ECC!important;
//    font-weight: bold;
//    font-size: 14px;
//  }
//
//  .programmes h2 {
//    font-size: 16px;
//  }
//
//
//  .programmes .list-group a{
//    background-color: transparent;
//    font-weight: bold;
//    font-size: 14px;
//  }
//
//  .lord h2 {
//    font-size: 16px;
//  }
//
//  .lord p {
//    position: relative;
//    left: 10px;
//    font-size: 14px;
//  }
//
//  .form {
//    position: relative
//  }
//
//  .blog_categorie_area .col-lg-4 + .col-lg-4{
//    margin-top: 40px;
//  }
//  .categories_post img{
//    width: 100%;
//  }
//
//}
//
//
///*Large devices (desktops, 992px and up)*/
//@media (min-width: 992px) {
//  .breadcrumb-wrap {
//    margin-top: 0px;
//  }
//  .home-slider {
//    position: relative;
//    top: 0px;
//  }
//  .navbar-custom-collapse {
//    padding: 10px;
//    margin: 10px;
//    position: relative;
//    top: 0px;
//    background-color: transparent;
//    font-size: large;
//  }
//
//  .owl-carousel .item {
//    height: 85vh;
//  }
//  .item img {
//    max-width: 100%;
//    height: auto;
//  }
//  .bottom-left {
//    position: absolute;
//    bottom: 80px;
//    color: #fff;
//    left: 15px;
//    min-width: 40%;
//    /*line-height: 20em;*/
//    background: rgba(100, 149, 237, 0.6);
//    border-radius: 50px 50px 50px 50px;
//    /*background-color: #008ff0;*/
//  }
//
//  .bottom-left .slidertextone {
//    font: italic 4.5em 'Source Sans Pro', sans-serif;
//    color: white;
//    width: 100%;
//    text-align: left;
//    text-shadow: 2px 2px 4px #000000;
//    bottom: -20px;
//    position: relative;
//  }
//
//  .bottom-left .slidertexttwo {
//    font: italic 4.5em 'Source Sans Pro', sans-serif;
//    color: white;
//    text-align: right;
//    text-shadow: 2px 2px 4px #000000;
//    padding-right: 8px;
//    bottom: 20px;
//    position: relative;
//  }
//  .navbar-custom-collapse {
//    font-size: 0.8em;
//    position: relative;
//    left: 30px;
//  }
//
//  .navbar-custom img {
//    position: relative;
//    top: 0px;
//    /*background: rgba(255, 255, 255, 0.4);*/
//    background-color: white;
//    height: 115px;
//    width: 115px;
//    border-radius: 50%;
//    padding: 10px;
//    /*width: 15vw;*/
//    /*-webkit-border-radius: 60px 50px 50px 50px;*/
//    /*-moz-border-radius: 60px 50px 50px 50px;*/
//    /*border-radius: 60px 50px 50px 50px;*/
//  }
//
//  .navbar-custom {
//    position: relative;
//    top: 0px;
//    padding-bottom: 5px;
//  }
//
//
//}
//
///*Extra large devices (large desktops, 1200px and up)*/
//@media (min-width: 1200px) {
//  .nav-custom{
//    position: relative;
//    left: 50px;
//  }
//
//  .ministry p {
//    font-size: 1.1em;
//    line-height: 1.5em;
//  }
//
//  .lord p {
//    font-size: 1.2em;
//    line-height: 1.35em;
//  }
//  .breadcrumb-wrap {
//    margin-top: 0px;
//  }
//  .about p {
//    font-size: 16px;
//    line-height: 1.35em;
//  }
//
//  .about p span {
//    font-weight: bold;
//    font-size: 20px;
//    color: #008ECC;
//  }
//  .home-slider {
//
//    position: relative;
//    top: 0px;
//  }
//
//  .navbar-custom img {
//    position: relative;
//    top: 0px;
//    /*background: rgba(255, 255, 255, 0.4);*/
//    background-color: white;
//    height: 115px;
//    width: 115px;
//    padding: 10px;
//    border-radius: 50%;
//    /*width: 15vw;*/
//    /*-webkit-border-radius: 60px 50px 50px 50px;*/
//    /*-moz-border-radius: 60px 50px 50px 50px;*/
//    /*border-radius: 60px 50px 50px 50px;*/
//  }
//
//  .owl-carousel .item {
//    height: 90vh;
//    display: block;
//    position: relative;
//    top: -95px;
//  }
//  .item img {
//    max-width: 100%;
//    height: auto;
//  }
//  .bottom-left {
//    position: absolute;
//    bottom: 100px;
//    color: #fff;
//    left: 50px;
//    min-width: 30%;
//    /*line-height: 20em;*/
//    background: rgba(100, 149, 237, 0.6);
//    border-radius: 50px 50px 50px 50px;
//    /*background-color: #008ff0;*/
//  }
//
//  .bottom-left .slidertextone {
//    font: italic 5.5em 'Source Sans Pro', sans-serif;
//    color: white;
//    width: 100%;
//    text-align: left;
//    text-shadow: 2px 2px 4px #000000;
//    bottom: -20px;
//    position: relative;
//  }
//
//  .bottom-left .slidertexttwo {
//    font: italic 5.5em 'Source Sans Pro', sans-serif;
//    color: white;
//    text-align: right;
//    text-shadow: 2px 2px 4px #000000;
//    padding-right: 8px;
//    bottom: 20px;
//    position: relative;
//  }
//
//  .navbar-custom-collapse {
//    font-size: 1.25em;
//    position: relative;
//    left: 50px;
//
//  }
//
//
//}
//
///***===================RESPONSIVE MEDIA QUERIES SECTION END========================***/
//
//
//
//
//

/*================= latest_blog_area css =============*/
.latest_blog_area{

}
.single-recent-blog-post{
  margin-bottom: 30px;
  .thumb{
    overflow: hidden;
    img{
      transition: all 0.7s linear;
    }
  }
  .details{
    padding-top: 30px;
    .sec_h4{
      line-height: 24px;
      padding: 10px 0px 13px;
      transition: all 0.3s linear;
      &:hover{
        color: #00c8e6;
      }
    }
  }
  .date{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  &:hover{
    img{
      transform: scale(1.23) rotate(10deg);
    }
  }
}
.tags{
  .tag_btn{
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center;
    color: $dark;
    &:before{
      background: #00c8e6;
    }
    & + .tag_btn{
      margin-left: 2px;
    }
  }
}

/*========= blog_categorie_area css ===========*/
.blog_categorie_area{
  background: #f9f9ff;
  padding-top: 80px;
}
.categories_post{
  position: relative;
  text-align: center;
  cursor: pointer;
  img{
    max-width: 100%;
  }
  .categories_details{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.80);
    color: #fff;
    transition: all 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    h5{
      margin-bottom: 0px;
      font-size: 18px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
    }
    p{
      font-weight: 300;
      font-size: 14px;
      line-height: 26px;
      margin-bottom: 0px;
    }
    .border_line{
      margin: 10px 0px;
      background: #fff;
    }
  }
  &:hover{
    .categories_details{
      background: rgba(0, 200, 230 , 0.85);
    }
  }
}



/*============ blog_left_sidebar css ==============*/
.blog_area{
  background: #f9f9ff;
  padding-top: 80px;
}
.blog_left_sidebar{

}
.blog_item{
  margin-bottom: 40px;
}
.blog_info{
  padding-top: 30px;
  .post_tag{
    padding-bottom: 20px;
    a{
      font: 300 14px/21px 'Poppins', sans-serif;
      color: $dark;
      &:hover{
        color: #00c8e6;
      }
    }
  }
  .blog_meta{
    li{
      a{
        font: 300 14px/20px 'Poppins', sans-serif;
        color: #777777;
        vertical-align: middle;
        padding-bottom: 12px;
        display: inline-block;
        i{
          color: $dark;
          font-size: 16px;
          font-weight: 600;
          padding-left: 15px;
          line-height: 20px;
          vertical-align: middle;
        }
        &:hover{
          color: #00c8e6;
        }
      }
    }
  }
}
.blog_post{
  img{
    max-width: 100%;
  }
  .view_btn{
    &:hover{
      background: #00c8e6;
      color: #fff;
    }
  }
}
.blog_details{
  padding-top: 20px;
  h2{
    font-size: 24px;
    line-height: 36px;
    color: $dark;
    font-weight: 600;
    transition: all 0.3s linear;
    &:hover{
      color: #00c8e6;
    }
  }
  p{
    margin-bottom: 26px;
  }
}
.view_btn{
  font-size: 14px;
  line-height: 36px;
  display: inline-block;
  color: $dark;
  font-weight: 500;
  padding: 0px 30px;
  background: #fff;
}

.blog_right_sidebar{
  border: 1px solid #eeeeee;
  padding: 30px;
  .widget_title{
    font-size: 18px;
    line-height: 25px;
    background: #00c8e6;
    text-align: center;
    color: #fff;
    padding: 8px 0px;
    margin-bottom: 30px;
  }
  .search_widget{
    .input-group{
      .form-control{
        font-size: 14px;
        line-height: 29px;
        border: 0px;
        width: 100%;
        font-weight: 300;
        color: #fff;
        padding-left: 20px;
        border-radius: 45px;
        z-index: 0;
        background: #00c8e6;
        @include placeholder{
          color: #fff;
        }
        &:focus{
          box-shadow: none;
        }
      }
      .btn-default{
        position: absolute;
        right: 20px;;
        background: transparent;
        border: 0px;
        box-shadow: none;
        font-size: 14px;
        color: #fff;
        padding: 0px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
      }
    }
  }
  .author_widget{
    text-align: center;
    h4{
      font-size: 18px;
      line-height: 20px;
      color: $dark;
      margin-bottom: 0px;
    }
    p{
      margin-bottom: 0px;
    }
    .social_icon{
      padding: 7px 0px 15px;
      a{
        font-size: 14px;
        color: $dark;
        transition: all 0.2s linear;
        & + a{
          margin-left: 20px;
        }
        &:hover{
          color: #00c8e6;
        }
      }
    }
  }
  .popular_post_widget{
    .post_item{
      .media-body{
        justify-content: center;
        align-self: center;
        padding-left: 20px;
        h3{
          font-size: 14px;
          line-height: 20px;
          color: $dark;
          margin-bottom: 4px;
          transition: all 0.3s linear;
          &:hover{
            color: #00c8e6;
          }
        }
        p{
          font-size:12px;
          line-height: 21px;
          margin-bottom: 0px;
        }
      }
      & + .post_item{
        margin-top: 20px;
      }
    }
  }
  .post_category_widget{
    .cat-list{
      li{
        border-bottom: 2px dotted #eee;
        transition: all 0.3s ease 0s;
        padding-bottom: 12px;
        a{
          font-size: 14px;
          line-height: 20px;
          color: #777;
          p{
            margin-bottom: 0px;
          }
        }
        & + li{
          padding-top: 15px;
        }
        &:hover{
          border-color: #00c8e6;
          a{
            color: #00c8e6;
          }
        }
      }
    }
  }
  .newsletter_widget{
    text-align: center;
    p{

    }
    .form-group{
      margin-bottom: 8px;
    }
    .input-group-prepend {
      margin-right: -1px;
    }
    .input-group-text {
      background: #fff;
      border-radius: 0px;
      vertical-align: top;
      font-size: 12px;
      line-height: 36px;
      padding: 0px 0px 0px 15px;
      border: 1px solid #eeeeee;
      border-right: 0px;
    }
    .form-control{
      font-size: 12px;
      line-height: 24px;
      color: #cccccc;
      border: 1px solid #eeeeee;
      border-left: 0px;
      @include placeholder{
        color: #cccccc;
      }
      &:focus{
        outline: none;
        box-shadow: none;
      }
    }
    .bbtns{
      background: #00c8e6;
      color: #fff;
      font-size: 12px;
      line-height: 38px;
      display: inline-block;
      font-weight: 500;
      padding: 0px 24px 0px 24px;
      border-radius: 0;
    }
    .text-bottom{
      font-size: 12px;
    }
  }
  .tag_cloud_widget{
    ul{
      li{
        display: inline-block;
        a{
          display: inline-block;
          border: 1px solid #eee;
          background: #fff;
          padding: 0px 13px;
          margin-bottom: 8px;
          transition: all 0.3s ease 0s;
          color: $dark;
          font-size: 12px;
          &:hover{
            background: #00c8e6;
            color: #fff;
          }
        }
      }
    }
  }
  .br{
    width: 100%;
    height: 1px;
    background: rgb(238, 238, 238);
    margin: 30px 0px;
  }
}

.blog-pagination {
  padding-top: 25px;
  padding-bottom: 95px;
  .page-link {
    border-radius: 0;
  }
  .page-item {
    border: none;
  }
}

.page-link {
  background: transparent;
  font-weight: 400;
}

.blog-pagination .page-item.active .page-link {
  background-color: #00c8e6;
  border-color: transparent;
  color:#fff;
}

.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8a8a;
  border: none;
}

.blog-pagination .page-link .lnr {
  font-weight: 600;
}

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0;
}

.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00c8e6;
  border-color: #eee;
}



/*============ Start Blog Single Styles  =============*/

.single-post-area {
  padding-top: 80px;
  padding-bottom: 80px;
  .social-links {
    padding-top: 10px;
    li {
      display: inline-block;
      margin-bottom: 10px;
      a {
        color: #cccccc;
        padding: 7px;
        font-size: 14px;
        transition: all 0.2s linear;
        &:hover {
          color: $dark;
        }
      }
    }
  }
  .blog_details{
    padding-top: 26px;
    p{
      margin-bottom: 10px;
    }
  }
  .quotes {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 24px 35px 24px 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
    font-size: 14px;
    line-height: 24px;
    color: #777;
    font-style: italic;
  }
  .arrow {
    position: absolute;
    .lnr {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .thumb {
    .overlay-bg {
      background: rgba(#000, .8);
    }
  }
  .navigation-area {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 60px;
    p{
      margin-bottom: 0px;
    }
    h4{
      font-size: 18px;
      line-height: 25px;
      color: $dark;
      font-weight: 600;
    }
    .nav-left {
      text-align: left;
      .thumb {
        margin-right: 20px;
        background: #000;
        img {
          @include transition();
        }
      }
      .lnr {
        margin-left: 20px;
        opacity: 0;
        @include transition();
      }
      &:hover {
        .lnr {
          opacity: 1;
        }
        .thumb {
          img {
            opacity: .5;
          }
        }
      }
      @media(max-width:767px) {
        margin-bottom: 30px;
      }
    }
    .nav-right {
      text-align: right;
      .thumb {
        margin-left: 20px;
        background: #000;
        img {
          @include transition();
        }
      }
      .lnr {
        margin-right: 20px;
        opacity: 0;
        @include transition();
      }
      &:hover {
        .lnr {
          opacity: 1;
        }
        .thumb {
          img {
            opacity: .5;
          }
        }
      }
    }
  }

  .sidebar-widgets{
    @media(max-width:991px){
      padding-bottom:0px;
    }
  }
}

.comments-area {
  background:#fafaff;
  border: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px;
  @media(max-width: 414px) {
    padding: 50px 8px;
  }
  h4 {
    text-align: center;
    margin-bottom: 50px;
    color: $dark;
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  a {
    color: $dark;
  }
  .comment-list {
    padding-bottom: 48px;
    &:last-child {
      padding-bottom: 0px;
    }
    &.left-padding {
      padding-left: 25px;
    }
    @media(max-width:413px) {
      .single-comment {
        h5 {
          font-size: 12px;
        }
        .date {
          font-size: 11px;
        }
        .comment {
          font-size: 10px;
        }
      }
    }
  }
  .thumb {
    margin-right: 20px;
  }
  .date {
    font-size: 13px;
    color: #cccccc;
    margin-bottom: 13px;
  }
  .comment {
    color: #777777;
    margin-bottom: 0px;
  }
  .btn-reply {
    background-color: #fff;
    color: $dark;
    border:1px solid #eee;
    padding: 2px 18px;
    font-size: 12px;
    display: block;
    font-weight:600;
    @include transition();
    &:hover {
      background-color: #00c8e6;
      color: #fff;
    }
  }
}

.comment-form {
  background:#fafaff;
  text-align: center;
  border: 1px solid #eee;
  padding: 47px 30px 43px;
  margin-top: 50px;
  margin-bottom: 40px;
  h4 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 22px;
    color: $dark;
  }
  .name {
    padding-left: 0px;
    @media(max-width: 767px) {
      padding-right: 0px;
      margin-bottom: 1rem;
    }
  }
  .email {
    padding-right: 0px;
    @media(max-width: 991px) {
      padding-left: 0px;
    }
  }
  .form-control {
    padding: 8px 20px;
    background: #fff;
    border: none;
    border-radius: 0px;
    width: 100%;
    font-size: 14px;
    color: #777777;
    border: 1px solid transparent;
    &:focus {
      box-shadow: none;
      border: 1px solid #eee;
    }
  }
  textarea{
    &.form-control{
      height: 140px;
    }
  }
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
    color: #777;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
    color: #777;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    font-size: 13px;
    color: #777;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    font-size: 13px;
    color: #777;
  }
  .primary-btn {
    border-radius: 0px!important;
    border: 1px solid transparent;
    color:#fff;
    text-transform: uppercase;
    font-weight:600;
    background: #00c8e6;
    display: inline-block;
    padding: 7px 44px;
    transition: all 0.2s linear;
    &:before{
      background: #00c8e6;
    }
    &:hover{
      border-color: #00c8e6 !important;
      color: #fff  !important;
    }
  }
}


/*============ End Blog Single Styles  =============*/