/*font: font-style font-variant font-weight font-size/line-height font-family;*/
/***===================MAIN BODY SECTION BEGIN========================***/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro');
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    overflow-x: hidden;
    color: #000;
    background-color: whitesmoke;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 1.475em;

}

.list_style {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.bannertitle  {

    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.navbar-custom {
    /*background-color: transparent;*/
    background: #008ECC;
    position: relative;
    z-index: 2;
    top: -20px;


}
.navbar-custom ul li a{
    font-size: .9em;
    font-weight: bold;
    color: #fff!important;
    padding: 5px;

}.navbar-custom ul li a:focus{
   color: white;

}
.navbar-custom ul li a:hover{
 /*background-color: #008ECC;*/
    /*background: rgba(100, 149, 237, 1);*/
    color: #008ECC!important;
    /*border-radius: 50px 50px 50px 50px;*/
    /*color: #008ECC!important;*/
    padding: 5px;

}

.navbar-custom-collapse {
    position: relative;
    left: 0px;
}


.nav-custom a {
    position: relative;
    left: 40px;
}

.dropdown-menu-custom a.dropdown-item{
    position: relative;
    left: 0px;

}
.dropdown-menu-custom {
    /*background-color: whitesmoke;*/
    background: rgba(42, 42, 42, 1);
}

/*.dropdown-menu-custom2 a.dropdown-item {*/
    /*position: relative;*/
    /**/
/*}*/

.navbar-custom img {
    position: relative;
    top: 0px;
    /*background: rgba(255, 255, 255, 0.4);*/
    background-color: white;
    /*-webkit-border-radius: 60px 50px 50px 50px;*/
    /*-moz-border-radius: 60px 50px 50px 50px;*/
    /*border-radius: 60px 50px 50px 50px;*/
}
/***===================MAIN BODY SECTION END========================***/


/***===================SLIDER SECTION BEGIN========================***/

.animated  {
    -webkit-animation-duration : 3s  ;
    animation-duration : 3s  ;

    -webkit-animation-delay : 500ms  ;
    animation-delay : 500ms  ;
}
.animate-out {
    -webkit-animation-delay : 0ms  ;
    animation-delay : 0ms  ;
}
.owl-carousel .item {
    height: auto;
    display: block;

    vertical-align: middle;
    text-align: center;

}
.item img {
    max-width: 100%;
    height: auto;


}

/*.btn {*/
    /*display: inline-block;*/
    /*line-height: 35px;*/
    /*height: 35px;*/
    /*text-align: center;*/
    /*padding: 0 20px;*/
    /*width: auto;*/
    /*background-color: #000;*/
    /*text-decoration: none;*/
    /*color: #fff;*/
/*}*/
.bottom-left {
    position: relative;
    bottom: 8px;
    color: #fff;
    left: 150px;
    /*min-width: 40%;*/
    /*line-height: 20em;*/
    background: rgba(100, 149, 237, 0.6);
    border-radius: 50px 50px 50px 50px;
    /*background-color: #008ff0;*/
}

.bottom-left .slidertextone {
    font: italic 5.5em 'Source Sans Pro', sans-serif;
    color: white;
    width: 100%;
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
    bottom: -20px;
    position: relative;
}

.bottom-left .slidertexttwo {
    font: italic 5.5em 'Source Sans Pro', sans-serif;
    color: white;
    text-align: right;
    text-shadow: 2px 2px 4px #000000;
    padding-right: 8px;
    bottom: 20px;
    position: relative;
}

/*.owl-carousel .item img .responsive {*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/

.home-slider {
    z-index: 1;
    position: relative;
    bottom: 0px;
    /*top: -100px;*/
}


/***===================SLIDER SECTION END========================***/

/***===================EVENT DATE AREA SECTION BEGIN========================***/

.upcoming-events-highlight {
    border-bottom: 1px solid #2e2e2e;
    padding: 3em 0;
    margin: 0px 0px 0px 0px;
    background: #2a2a2a;
    position: relative;
    top: 0px;
}

.upcoming-events-highlight .section-heading {
    background: #008ECC;
    padding: 2px 15px;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin-bottom: 15px;
}

.upcoming-events-highlight h2 {
    font-size: 20px;
    font-family: "Playfair Display", times, serif;
}

.upcoming-events-highlight h2 a {
    color: #fff;
    text-decoration: none;
}
.upcoming-events-highlight h2 a:hover {
    color: #008ECC;
}

.upcoming-events-highlight .events-meta {
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.upcoming-events-highlight .counter-number-item {
    background: #008ECC;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display", times, serif;
    color: #fff;
    line-height: 1;
}

.upcoming-events-highlight #date-countdown {
    border-radius: 4px;
    overflow: hidden;
}

.upcoming-events-highlight #date-countdown .countdown-block {
    background: #008ECC;
    color: #fff;
    padding: 20px;
    width: 20%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.upcoming-events-highlight #date-countdown .countdown-block:after {
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
    height: 100%;
    width: 1px;
    right: 0;
    background: #262626;
}

.upcoming-events-highlight #date-countdown .countdown-block:last-child:after {
    display: none;
}

.upcoming-events-highlight #date-countdown .countdown-block .label {
    color: #fff;
    font-size: 24px;
    display: block;
}

/***===================EVENT DATE AREA SECTION END========================***/



/***===================SERVICES SECTION BEGIN========================***/
hr.hr-service {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;

}
hr.hr-service:after {
    content: "OUR SERVICES";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: whitesmoke;

}
.services {
    color: #fff;
    background-color: #2a2a2a;
    padding: 35px 0px 35px 0px;
    /*margin-top: 50px;*/
}
.services h4 {
    padding: 20px;
    margin: 20px 0px 20px 0px;
}
.services ul {
    list-style-type: none;
}
.services ul li {
    text-align: center;
}
.services h4::after {
    background: none repeat scroll 0 0 #008ECC;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 100%;
}

.services ul li::after {
    background: none repeat scroll 0 0 #f5f5f5;
    bottom: -15px;
    content: "";
    display: block;
    height: 1px;
    right: 12px;
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    
}



span.heading-list-span {
    font-size: 18px;
    color: #008ECC;
    font-weight: bold;
}

/***===================SERVICES SECTION END========================***/


/***===================EVENTS SECTION BEGIN========================***/
hr.hr-events {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;

}
hr.hr-events:after {
    content: "EVENTS";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: whitesmoke;

}


.event_title {
    font-size: 24px;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    padding-top: 20px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.event_title:hover {
    color: #008ECC;
}

.event_post a:hover {
    text-decoration: none;
}
.event_post img {
    max-width: 100%;
}

.event_post .event_category {
    padding-bottom: 20px;
}

.event_category li {
    padding-bottom: 8px;
}

.event_category li i {
    font-weight: 600;
    color: #222222;
}

.list_style {
    list-style: none;
    margin: 0px;
    padding: 0px;

}

.section_gap .section-heading {
    background: #008ECC;
    padding: 2px 15px;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 15px 0px 15px 0px;
}

.event_blog_area {
    margin: 30px 0px 40px 0px;
}

.btn_hover {
    font-size: 14px;
    line-height: 30px;
    color: #2a2a2a;
    font-weight: 500;
    padding: 4px 35px;
    display: inline-block;
    border: 1px solid #eeeeee;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn_hover:hover {
    background: #008ECC;
    color: #fff;
    text-decoration: none;
}
/*.ministries_info {*/
    /*margin-bottom: -44px;*/
/*}*/

/*.ministries_info .event_post {*/
    /*margin-bottom: 44px;*/
/*}*/

/*.ministries_info .event_post p {*/
    /*padding-right: 50px;*/
    /*padding-top: 10px;*/
/*}*/

/***===================EVENTS SECTION END========================***/

/***===================BLOG SECTION BEGIN========================***/
/*========= blog_categorie_area css ===========*/
.blog_categorie_area {
    background: #f9f9ff;
    padding-top: 80px;
}

.categories_post {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.categories_post img {
    max-width: 100%;
}

.categories_post .categories_details {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(34, 34, 34, 0.8);
    color: #fff;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.categories_post .categories_details h5 {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #fff;
}

.categories_post .categories_details p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0px;
}

.categories_post .categories_details .border_line {
    margin: 10px 0px;
    background: #fff;
}

.categories_post:hover .categories_details {
    background: rgba(0, 200, 230, 0.85);
}


/*============ blog_left_sidebar css ==============*/
.blog_area {
    background: #f9f9ff;
    padding-top: 80px;
}

.blog_item {
    margin-bottom: 40px;
}

.blog_info {
    padding-top: 30px;
}

.blog_info .post_tag {
    padding-bottom: 20px;
}

.blog_info .post_tag a {
    font: 300 14px/21px "Poppins", sans-serif;
    color: #222222;
}

.blog_info .post_tag a:hover {
    color: #00c8e6;
}

.blog_info .blog_meta li a {
    font: 300 14px/20px "Poppins", sans-serif;
    color: #777777;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block;
}

.blog_info .blog_meta li a i {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 20px;
    vertical-align: middle;
}

.blog_info .blog_meta li a:hover {
    color: #00c8e6;
}

.blog_post img {
    max-width: 100%;
}

.blog_post .view_btn:hover {
    background: #00c8e6;
    color: #fff;
}

.blog_details {
    padding-top: 20px;
}

.blog_details h2 {
    font-size: 24px;
    line-height: 36px;
    color: #222222;
    font-weight: 600;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.blog_details h2:hover {
    color: #00c8e6;
}

.blog_details p {
    margin-bottom: 26px;
}

.view_btn {
    font-size: 14px;
    line-height: 36px;
    display: inline-block;
    color: #222222;
    font-weight: 500;
    padding: 0px 30px;
    background: #fff;
}

.blog_right_sidebar {
    border: 1px solid #eeeeee;
    padding: 30px;
}

.blog_right_sidebar .widget_title {
    font-size: 18px;
    line-height: 25px;
    background: #00c8e6;
    text-align: center;
    color: #fff;
    padding: 8px 0px;
    margin-bottom: 30px;
}

.blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 0px;
    width: 100%;
    font-weight: 300;
    color: #fff;
    padding-left: 20px;
    border-radius: 45px;
    z-index: 0;
    background: #00c8e6;
}

.blog_right_sidebar .search_widget .input-group .form-control.placeholder {
    color: #fff;
}

.blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
    color: #fff;
}

.blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
    color: #fff;
}

.blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
    color: #fff;
}

.blog_right_sidebar .search_widget .input-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    padding: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.blog_right_sidebar .author_widget {
    text-align: center;
}

.blog_right_sidebar .author_widget h4 {
    font-size: 18px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 0px;
}

.blog_right_sidebar .author_widget p {
    margin-bottom: 0px;
}

.blog_right_sidebar .author_widget .social_icon {
    padding: 7px 0px 15px;
}

.blog_right_sidebar .author_widget .social_icon a {
    font-size: 14px;
    color: #222222;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.blog_right_sidebar .author_widget .social_icon a + a {
    margin-left: 20px;
}

.blog_right_sidebar .author_widget .social_icon a:hover {
    color: #00c8e6;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 20px;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 4px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    color: #00c8e6;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 0px;
}

.blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px;
}

.blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
}

.blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 14px;
    line-height: 20px;
    color: #777;
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
}

.blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
}

.blog_right_sidebar .post_category_widget .cat-list li:hover {
    border-color: #00c8e6;
}

.blog_right_sidebar .post_category_widget .cat-list li:hover a {
    color: #00c8e6;
}

.blog_right_sidebar .newsletter_widget {
    text-align: center;
}

.blog_right_sidebar .newsletter_widget .form-group {
    margin-bottom: 8px;
}

.blog_right_sidebar .newsletter_widget .input-group-prepend {
    margin-right: -1px;
}

.blog_right_sidebar .newsletter_widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top;
    font-size: 12px;
    line-height: 36px;
    padding: 0px 0px 0px 15px;
    border: 1px solid #eeeeee;
    border-right: 0px;
}

.blog_right_sidebar .newsletter_widget .form-control {
    font-size: 12px;
    line-height: 24px;
    color: #cccccc;
    border: 1px solid #eeeeee;
    border-left: 0px;
}

.blog_right_sidebar .newsletter_widget .form-control.placeholder {
    color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder {
    color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder {
    color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder {
    color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blog_right_sidebar .newsletter_widget .bbtns {
    background: #00c8e6;
    color: #fff;
    font-size: 12px;
    line-height: 38px;
    display: inline-block;
    font-weight: 500;
    padding: 0px 24px 0px 24px;
    border-radius: 0;
}

.blog_right_sidebar .newsletter_widget .text-bottom {
    font-size: 12px;
}

.blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
}

.blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 13px;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #222222;
    font-size: 12px;
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #00c8e6;
    color: #fff;
}

.blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #eeeeee;
    margin: 30px 0px;
}

.blog-pagination {
    padding-top: 25px;
    padding-bottom: 95px;
}

.blog-pagination .page-link {
    border-radius: 0;
}

.blog-pagination .page-item {
    border: none;
}

.page-link {
    background: transparent;
    font-weight: 400;
}

.blog-pagination .page-item.active .page-link {
    background-color: #00c8e6;
    border-color: transparent;
    color: #fff;
}

.blog-pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #8a8a8a;
    border: none;
}

.blog-pagination .page-link .lnr {
    font-weight: 600;
}

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
    border-radius: 0;
}

.blog-pagination .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #00c8e6;
    border-color: #eee;
}

/*================= latest_blog_area css =============*/
.single-recent-blog-post {
    margin-bottom: 30px;
}

.single-recent-blog-post .thumb {
    overflow: hidden;
}

.single-recent-blog-post .thumb img {
    -webkit-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    transition: all 0.7s linear;
}

.single-recent-blog-post .details {
    padding-top: 30px;
}

.single-recent-blog-post .details .sec_h4 {
    line-height: 24px;
    padding: 10px 0px 13px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.single-recent-blog-post .details .sec_h4:hover {
    color: #00c8e6;
}

.single-recent-blog-post .date {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.single-recent-blog-post:hover img {
    -webkit-transform: scale(1.23) rotate(10deg);
    -ms-transform: scale(1.23) rotate(10deg);
    transform: scale(1.23) rotate(10deg);
}

.tags .tag_btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #eeeeee;
    display: inline-block;
    padding: 1px 18px;
    text-align: center;
    color: #222222;
}

.tags .tag_btn:before {
    background: #00c8e6;
}

.tags .tag_btn + .tag_btn {
    margin-left: 2px;
}

/***===================BLOG SECTION END========================***/


/***===================SENIOR PASTOR SECTION BEGIN========================*/
.section_gap {
    padding: 120px 0px;
}
.section_title {
    margin-bottom: 75px;
}

.section_title h2 {
    font-size: 36px;
    line-height: 40px;
    color: #008ECC;
    font-weight: 600;
}

.section_title p {
    line-height: 30px;
    margin-bottom: 0px;
}

.team_item {
    text-align: center;
    margin-bottom: 30px;
}

.team_item .team_img {
    position: relative;
    z-index: 1;
}

.team_item .team_img:before {
    content: "";
    top: 0;
    left: 0;
    background: #00c8e6;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    -webkit-transition: color 0.3s, all 0.3s linear;
    -o-transition: color 0.3s, all 0.3s linear;
    transition: color 0.3s, all 0.3s linear;
    z-index: 0;
}

.team_item .team_img img {
    max-width: 100%;
    height: 500px;
    width: 400px;
}

.team_item .team_img ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
    opacity: 0;
    margin-top: 10px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.team_item .team_img ul li {
    display: inline-block;
    margin: 0px 7px;
}

.team_item .team_img ul li a {
    font-size: 14px;
    color: #fff;
    opacity: 0.30;
}

.team_item .team_img ul li a:hover {
    opacity: 1;
}

.team_item .content {
    padding-top: 28px;
}

.team_item .content h3 {
    font-size: 18px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 0px;
}

.team_item .content p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
}

.team_item:hover .team_img:before {
    opacity: 0.75;
}

.team_item:hover .team_img ul {
    margin-top: 0px;
    opacity: 1;
}

/***===================SENIOR PASTOR SECTION END========================***/

/***===================BREADCRUMBS SECTION BEGIN========================***/
.link {
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0px;

}


.breadcrumb-wrap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../images/breadcrumb.jpg" ) ;
    /*background-position: 30% 35%;*/
    /*height: 30vh;*/
    /*color: #ffffff;*/
    /*-webkit-filter: blur(4px);*/
    /*filter: blur(4px);*/
    /* Add the blur effect */
    /*filter: blur(8px);*/
    /*-webkit-filter: blur(8px);*/

    /* Full height */
    height: 30vh;
    margin-top: 0px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.breadcrumb-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: relative;
    top: 70%;
    left: 50%;

    height: 20vh;
    transform: translate(-50%, -75%);
    /*z-index: 1;*/
    width: 85%;
    padding: 0px;
    text-align: center;
}


.breadcrumb-text small {
    color: white;
}

.breadcrumb-text p {
    font-size:1.2em;


}

.breadcrumb-text .row {
    position: relative;
    top: 10%;
    transform: translate(0%, 10%);

}
.breadcrumbstop ul{
    /*margin: 20px 0px 30px 20px;*/
    padding: 0px;
    list-style: none;
    position: relative;
    left: 110px;
}
#breadcrumbs-two{
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-two li{
    float: left;
    margin: 0 .1em 0 1em;
}



#breadcrumbs-two a{
    background: #ddd;
    padding: .7em 1em;
    float: left;
    text-decoration: none;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    position: relative;
}

#breadcrumbs-two a:hover{
    background: #008ECC;
    color: whitesmoke;
}

#breadcrumbs-two a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-width: 1.5em 0 1.5em 1em;
    border-style: solid;
    border-color: #ddd #ddd #ddd transparent;
    left: -1em;
}

#breadcrumbs-two a:hover::before{
    border-color: #008ECC #008ECC #008ECC transparent;
}

#breadcrumbs-two a::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid #ddd;
    right: -1em;
}

#breadcrumbs-two a:hover::after{
    border-left-color: #008ECC;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover{
    font-weight: bold;
    color: #1b1e21;
    background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before{
    content: normal;
}
/***===================BREADCRUMBS SECTION END========================***/

/***===================MINISTRIES SECTION BEGIN========================***/
.ministry{
    margin: 20px;
    padding: 20px;
}

.ministry h2 {
    padding: 15px;
    margin: 12px;
    color: #008ECC;
    font-weight: bold;
}

.ministry h2::after {
    background: none repeat scroll 0 0 #2a2a2a;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 100%;
}
.ministry b {
    color: #008ECC;
}
.ministry p {
    position: relative;
    left: 10px;
    font-size: 20px;
}


.ministry .list-group a{
  background-color: transparent;
  font-weight: bold;
    font-size: 16px;
}

.ministry .list-group a:hover{
    background-color: #008ECC;
   color: whitesmoke;
}

/***===================MINISTRIES SECTION END========================***/


/***===================DEPARTMENTS SECTION BEGIN========================***/
.departments{
    margin: 20px;
    padding: 20px;
}
.departments h2 {
    padding: 15px;
    margin: 12px;
    color: #008ECC;
    font-weight: bold;
}

.departments h2::after {
    background: none repeat scroll 0 0 #2a2a2a;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 100%;
}

.departments a {
color: #008ECC!important;
    font-weight: bold;
    font-size: 18px;
}

.departments b {
    color: #008ECC;
}
.departments p {
    position: relative;
    left: 20px;
    font-size: 20px;
}
/***===================DEPARTMENTS SECTION END========================***/

/***===================PROGRAMMES SECTION BEGIN========================***/
.programmes {
    margin: 20px;
    padding: 20px;
}

.programmes h2 {
    padding: 15px;
    margin: 12px;
    color: #008ECC;
    font-weight: bold;
}

.programmes h2::after {
    background: none repeat scroll 0 0 #2a2a2a;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 100%;
}
.programmes .list-group a{
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
}

.programmes .list-group a:hover{
    background-color: #008ECC;
    color: whitesmoke;
}
/***===================PROGRAMMES SECTION END========================***/


/***===================LORD'S KITCHEN SECTION BEGIN========================***/
.lord{
    margin: 20px;
    padding: 20px;
}

.lord h2 {
    padding: 15px;
    margin: 12px;
    color: #008ECC;
    font-weight: bold;
}

.lord h2::after {
    background: none repeat scroll 0 0 #2a2a2a;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 100%;
}
.lord b {
    color: #008ECC;
}
.lord p {
    position: relative;
    left: 10px;
    font-size: 2em;
}

/***===================LORD'S KITCHEN SECTION END========================***/

/***===================ABOUT SECTION BEGIN========================***/
.about p {
    font-size: 14px;
    line-height: 1.35em;
}

.about p span {
    font-weight: bold;
    font-size: 18px;
    color: #008ECC;
}


button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #008ECC; }
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #008ECC; }
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1; }
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs .tab-2 {
    width: 50%; }
.tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%; }
.tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; }
.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; }
.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; }

.about-title h6:after {
    background: none repeat scroll 0 0 #008ECC;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 5%;
    margin-bottom: 20px;
}

.about-carousel {
    padding-top: 40px;
    margin-top: 50px;
}

/***===================ABOUT SECTION END========================***/

/***===================CONTACT SECTION BEGIN========================***/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.bottom-contact {
    margin-top: 30px;
}
.bottom-contact p {
    font-size: 1.8em;
}
.bottom-contact .footer-link{
    line-height: 1.5;
    margin-bottom: 15px;
}
.footer-social span {
    margin-top: 3px;
    font-size: 1.5em ;
}

.footer-social a {
    line-height: 0;
    border-radius: 50%;
    margin: 5px 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
}

.footer-social a:hover {
    background: #008ECC;
    border-color: #fff;
    /*color: #fff;*/

}

.bottom-contact a {
    color: #008ECC;
    border-bottom: 1px solid transparent;
}

.bottom-contact a:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.contact h2:after {
    background: none repeat scroll 0 0 #008ECC;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 20%;
    margin-bottom: 20px;
}

.contact h2 {

    position: relative;
    left: 15px;
}

.contact form {
    padding: 0px;
    margin: 0px;
}
.contact{
    margin: 20px;
    padding: 20px;
}
.btn, .form-control {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.contact p:after {
    background: none repeat scroll 0 0 #008ECC;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 20%;
    margin-bottom: 20px;
}
.btn:focus, .btn:active, .form-control:focus, .form-control:active {
    outline: none;
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 50px;
    border-width: 2px;
}

textarea.form-control {
    height: inherit;
}

.donations ul {
    list-style-type: none;
    line-height: 1.9rem;
    padding: 0px;
}

.donations-title img  {
    height: 120px;
    width: 120px;
}
.below-contact ul {
    list-style-type: none;
    line-height: 1.9rem;
    padding: 0px;
    font-size: 1.2em;
}
/***===================CONTACT SECTION END========================***/
/***===================FOOTER SECTION BEGIN========================***/
.footer  {

    margin: 50px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
    color: #fff;
    background-color: #2a2a2a;
}
.footer p {
    font-size: 18px
}

.copyright{
    padding-top: 50px;
}

.footer h4::after {
    background: none repeat scroll 0 0 #008ECC;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 20%;
    margin-bottom: 20px;
}

/*.social-icons a:hover {*/
    /*color: whitesmoke;*/
/*}*/
/*.social-icons a {*/
    /*border-radius: 50%;*/
/*}*/
.copyright p::before {
    background: none repeat scroll 0 0 #008ECC;
    bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    text-align: center;
    width: 100%;
}
.footer p span {
    color: #008ECC;
    font-weight: bold;
    font-size: .8em;

}
/*.footer small a:hover {*/
    /*color: whitesmoke;*/
    /*text-decoration: none;*/
/*}*/

/*.social-icons a i{*/
    /*opacity: 0.25;*/
/*}*/
/*.social-icons a:hover i,*/
/*.social-icons a:focus i{*/
    /*opacity: 0.6;*/
/*}*/
/*.contactbottom{*/
 /*background-color: #0000F0;*/
 /*top:  280px;*/
/*}*/
.social-icons a {
    color: #fff;
    border-bottom: 1px solid transparent;

}

.social-icons a:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.fb {
background-color: rgb(0, 142, 204);
}
/***===================FOOTER SECTION END========================***/


/***===================RESPONSIVE MEDIA QUERIES SECTION BEGIN========================***/
 /*Extra small devices (portrait phones, less than 576px)*/
 /*No media query for `xs` since this is the default in Bootstrap*/

 /*Small devices (landscape phones, 576px and up)*/
@media screen and (max-device-width: 480px) and (orientation: portrait){

    .team_item .team_img img{
        width: 100%;
    }

    .team_item .team_img img {
        max-width: 100%;
        height: 300px;
        width: 300px;
    }

    .contact p:after {
        background: none repeat scroll 0 0 #008ECC;
        bottom: -10px;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        text-align: center;
        width: 30%;
        left: 10px;
        margin-bottom: 20px;
    }
    
    .donations-title img  {
        height: 60px;
        width: 60px;
    }
    .below-contact {
        margin-left: 10px;
    }
.below-contact p {
    font-size: 1.2em;
}
.below-contact ul {
    font-size: .7em;
    margin: 0px 0px 0px 10px;
}

.donations-title p {
    font-size: 1.3em;
    margin: 10px 0px 10px 5px;
}

    .donations ul {
       margin: 0px;
      padding: 0px;
        font-size: .9em;
    }
    .row-sample {
        margin-left: 4px;
        padding: 0px;
    }

    .bottom-contact p span {
        font-size: .8em;
        padding: 5px;
        margin: 5px;
    }

    .contact {
        margin: 0px;
        padding: 0px;
    }
    .social-icons ul  {
    margin-left: 7px;
    padding: 10px;
}
    .contact h2 {
margin-top: 20px;
        padding-top: 20px;
    }
    .bannertitle  {

        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
   .navbar-custom{
       margin: 0px;
       padding: 0px;
   }
    .navbar-custom img {
        position: relative;
        top: 10px;
        /*background: rgba(255, 255, 255, 0.4);*/
        background-color: white;
        height: 105px;
        width: 105px;
        border-radius: 50%;
        padding: 5px;
        left: -40px;
        margin-bottom: 10px;
        /*width: 15vw;*/
        /*-webkit-border-radius: 60px 50px 50px 50px;*/
        /*-moz-border-radius: 60px 50px 50px 50px;*/
        /*border-radius: 60px 50px 50px 50px;*/
    }
    .navbar-custom button {
        background-color: white ;
        position: relative;
        top: 10px;
    }
    
    .navbar-custom-collapse {
        background-color: #008ECC;
        margin-bottom: 10px;
        position: relative;
        top: 10px;
        left: 5px;
    }

    .navbar-custom ul li a:hover{
        /*background-color: #008ECC;*/
        /*background: rgba(100, 149, 237, 1);*/
        color: #fff!important;
        /*border-radius: 50px 50px 50px 50px;*/
        /*color: #008ECC!important;*/
        padding: 5px;

    }
    .home-slider {
        position: relative;
        top: -20px;
        bottom: 0px;
    }

    .owl-carousel .item {
        position: relative;
        display: block;
        height: 30vh;
    }

    .item img {
        max-width: 100%;
        height: auto;
    }

    .navbar-custom img {
        margin-top: 10px;
    }

    /*img .responsive {*/
        /*width: 100%;*/
        /*max-height: 40%;*/
    /*}*/

    .bottom-left {
        position: absolute;
        bottom: 20px;
        color: #fff;
        left: 15px;
        min-width: 45%;
        /*line-height: 20em;*/
        background: rgba(100, 149, 237, 0.6);
        border-radius: 50px 50px 50px 50px;
        /*background-color: #008ff0;*/
    }

    .bottom-left .slidertextone {
        font: italic 2.0em 'Source Sans Pro', sans-serif;
        color: white;
        width: 100%;
        text-align: left;
        text-shadow: 2px 2px 4px #000000;
        bottom: -5px;
        position: relative;
    }

    .bottom-left .slidertexttwo {
        font: italic 2.0em 'Source Sans Pro', sans-serif;
        color: white;
        text-align: right;
        text-shadow: 2px 2px 4px #000000;
        padding-right: 8px;
        bottom: 5px;
        position: relative;
    }

    .services {
        color: #fff;
        background-color: #2a2a2a;
        padding-bottom: 50px;
        font-size: .9em;

    }
    .services h4 {
        padding: 0px;
        margin: 40px 0px 20px 0px;
    }
    .services ul {

        padding: 0px!important;
        list-style-type: none;
    }
    .services ul li {
        text-align: center;
    }
    .services h4:after {
        background: none repeat scroll 0 0 #008ECC;
        bottom: -10px;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        text-align: center;
        width: 90%;
        margin: 0px 0px 10px 15px;
    }
    .services ul li::after {
        background: none repeat scroll 0 0 #f5f5f5;
        bottom: -15px;
        content: "";
        display: block;
        height: 1px;
        left: 18px;
        position: relative;
        text-align: center;
        width: 90%;
        margin-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;

    }


    .footer  {
        text-align: center;
        padding: 30px 10px 0px 10px;
    }
    .footer h4 {
        text-align: left;
        left: 20px;
        position: relative;
    }
    .footer h4:after {
        background: none repeat scroll 0 0 #008ECC;
        bottom: -10px;
        content: "";
        display: block;
        height: 1px;
        position: relative;
        left: 0px;
        text-align: center;
        width: 20%;
        margin-bottom: 20px;
    }

    .link {
        padding: 0px;
        position: relative;
        top: -10px;
    }
    .breadcrumbstop ul{
        margin: 0px 20px 30px 20px;
        padding: 20px;
        list-style: none;
        position: relative;
        left: 0px;
        top: -65px;
    }

    #breadcrumbs-two{
        font-size: 14px;
        width: 90%;
        position: relative;
        top: -30px;

    }

    .departments {
       padding: 0px;
       margin: 0px;
    }
    .departments p {
padding: 10px;
        font-size: .8em;
        margin-right: 10px;
    }

    .departments a {
      font-size: .8em;
    }

    .tabs {
    font-size: 14px;
        padding: 5px;
    }

    .tabs [class^="tab"] label,
    .tabs [class*=" tab"] label {
        color: #000000;
        cursor: pointer;
        display: block;
        font-size: 1.0em;
        font-weight: 700;
        line-height: .7em;
        padding: 1rem 0;
        text-align: center; }
.about{
    margin-top: 30px;
}

.ministry {
    margin: 0px;
    padding: 0px;
}

    .ministry h2 {
      font-size: 15px;
    }

    .ministry .list-group a{

        font-size: .8em;
    }

    .ministry p {
        font-size: .8em;
    }



    .departments h2 {
   font-size: 14px;
    }

    .departments p {
        position: relative;
        left: 20px;
        font-size: 12px;
    }

    .departments a {
        color: #008ECC!important;
        font-weight: bold;
        font-size: 12px;
    }


    .programmes h2 {
font-size: 14px;
    }


    .programmes .list-group a{
        background-color: transparent;
        font-weight: bold;
        font-size: .8em;
    }


    .programmes {
        margin: 0px;
        padding: 0px;
    }
    .lord h2 {
    font-size: 14px;
    }

    /*.lord p {*/
        /*position: relative;*/
        /*left: 10px;*/
        /*font-size: 11px;*/
    /*}*/

    .footer p {
        font-size: 16px;
        text-wrap: normal;
    }

    .foot er span {
        font-size: 16px;

    }
    .lord{
        margin: 0px;
        padding: 0px;
    }

    .lord p {
        position: relative;
        left: 10px;
        font-size: .8em;
        line-height: 1.45em;
    }

    .event_post ul {
        font-size: .8em;
    }

    .event_post h2 {
        font-size: 1em;
    }
    .event_post .btn_hover {
        font-size: .8em;
        margin: 0px 0px 15px 0px;
    }

    .blog_info{
        text-align: left !important;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .blog_meta li{
        display: inline-block;
        width: calc(95%/ 2);
    }
    .single-post .blog_info{
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .single-post-area .social-links{
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .categories_post img{
        width: 100%;
        margin-bottom: 20px;

    }


    /*.team_item .team_img img{*/
        /*width: 100%;*/
    /*}*/
}


 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .event_post h2 {
        font-size: .95em;
    }

    .event_post ul {
        font-size: .8em;
    }
    .event_post .btn_hover {
        font-size: .8em;
    }
    .contact  {
      margin:20px 0px 0px 0px;
        padding: 0px;
    }
    .bottom-contact p span {
        font-size: .9em;
    }
.below-contact p span {
    font-size: .6em;
}

.donations-title p span{
    font-size: .8em;
}
    .donations-title img  {
        height: 90px;
        width: 90px;
    }
    .below-contact ul {

        font-size: .9em;
    }
    .donations ul {
     margin: 0px 0px 0px 30px;
    }

    .breadcrumb-wrap {
        margin-top: 0px;
    }
    .link {
        padding: 0px;
        position: relative;
        top: 40px;
    }
    .navbar-custom ul li a:hover{
        /*background-color: #008ECC;*/
        /*background: rgba(100, 149, 237, 1);*/
        color: #fff!important;
        /*border-radius: 50px 50px 50px 50px;*/
        /*color: #008ECC!important;*/
        padding: 5px;

    }

    .navbar-custom img {
        position: relative;
        top: 0px;
        /*background: rgba(255, 255, 255, 0.4);*/
        background-color: white;
        padding: 10px;
        height: 110px;
        width: 110px;
        border-radius: 50%;
        /*-webkit-border-radius: 60px 50px 50px 50px;*/
        /*-moz-border-radius: 60px 50px 50px 50px;*/
        /*border-radius: 60px 50px 50px 50px;*/
    }

    .navbar-custom {
        position: relative;
        top: 0px;
        padding-bottom: 5px;
    }
    .navbar-custom button {
        background-color: white ;
    }
    .navbar-custom-collapse {
     background-color: #008ECC;
        margin-bottom: 0px;
        position: relative;
        top: 10px;
        left: 5px;
    }

    .home-slider {
        position: relative;
        top: 0px;
    }

    .owl-carousel .item {
        height: 55vh;
    }

    .item img {
        max-width: 100%;
        height: auto;
    }
    .bottom-left {
        position: absolute;
        bottom: 80px;
        color: #fff;
        left: 15px;
        min-width: 42%;
        /*line-height: 20em;*/
        background: rgba(100, 149, 237, 0.6);
        border-radius: 50px 50px 50px 50px;
        /*background-color: #008ff0;*/
    }

    .bottom-left .slidertextone {
        font: italic 3.5em 'Source Sans Pro', sans-serif;
        color: white;
        width: 100%;
        text-align: left;
        text-shadow: 2px 2px 4px #000000;
        bottom: -12px;
        position: relative;
    }

    .bottom-left .slidertexttwo {
        font: italic 3.5em 'Source Sans Pro', sans-serif;
        color: white;
        text-align: right;
        text-shadow: 2px 2px 4px #000000;
        padding-right: 8px;
        bottom: 12px;
        position: relative;
    }

    .breadcrumbstop ul{
        margin: 0px 20px 30px 20px;
        padding: 20px;
        list-style: none;
        position: absolute;
        left: -50px;
        top: 10px;
    }

    .tabs {
        font-size: 14px;
        line-height: 1.7em;
        padding: 5px;
    }

    .ministry h2 {
        font-size: 16px;
    }

    .ministry .list-group a{

        font-size: 13px;
    }

    .ministry p {
        position: relative;
        left: 10px;
        font-size: 14px;
    }

    .ministry h5 {
        position: relative;
        left: 10px;
    }


    .departments h2 {
        font-size: 16px;
    }

    .departments p {
        position: relative;
        left: 20px;
        font-size: 14px;
    }

    .departments a {
        color: #008ECC!important;
        font-weight: bold;
        font-size: 14px;
    }

    .programmes h2 {
        font-size: 16px;
    }


    .programmes .list-group a{
        background-color: transparent;
        font-weight: bold;
        font-size: 14px;
    }

    .lord h2 {
        font-size: 16px;
    }

    .lord p {
        position: relative;
        left: 10px;
        font-size: 14px;
    }

    .form {
        position: relative
    }

    .blog_categorie_area .col-lg-4 + .col-lg-4{
        margin-top: 40px;
    }
    .categories_post img{
        width: 100%;
    }

}


 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .breadcrumb-wrap {
        margin-top: 0px;
    }
    .home-slider {
        position: relative;
        top: 0px;
    }
    .navbar-custom-collapse {
        padding: 10px;
        margin: 10px;
        position: relative;
        top: 0px;
        background-color: transparent;
        font-size: large;
    }

    .owl-carousel .item {
        height: 85vh;
    }
.item img {
    max-width: 100%;
    height: auto;
}
    .bottom-left {
        position: absolute;
        bottom: 80px;
        color: #fff;
        left: 15px;
        min-width: 40%;
        /*line-height: 20em;*/
        background: rgba(100, 149, 237, 0.6);
        border-radius: 50px 50px 50px 50px;
        /*background-color: #008ff0;*/
    }

    .bottom-left .slidertextone {
        font: italic 4.5em 'Source Sans Pro', sans-serif;
        color: white;
        width: 100%;
        text-align: left;
        text-shadow: 2px 2px 4px #000000;
        bottom: -20px;
        position: relative;
    }

    .bottom-left .slidertexttwo {
        font: italic 4.5em 'Source Sans Pro', sans-serif;
        color: white;
        text-align: right;
        text-shadow: 2px 2px 4px #000000;
        padding-right: 8px;
        bottom: 20px;
        position: relative;
    }
    .navbar-custom-collapse {
        font-size: 0.8em;
        position: relative;
        left: 30px;
    }

    .navbar-custom img {
        position: relative;
        top: 0px;
        /*background: rgba(255, 255, 255, 0.4);*/
        background-color: white;
        height: 115px;
        width: 115px;
        border-radius: 50%;
        padding: 10px;
        /*width: 15vw;*/
        /*-webkit-border-radius: 60px 50px 50px 50px;*/
        /*-moz-border-radius: 60px 50px 50px 50px;*/
        /*border-radius: 60px 50px 50px 50px;*/
    }
    
    .navbar-custom {
        position: relative;
        top: 0px;
        padding-bottom: 5px;
    }


}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .nav-custom{
    position: relative;
        left: 50px;
    }

    .ministry p {
        font-size: 1.1em;
        line-height: 1.5em;
    }

    .lord p {
        font-size: 1.2em;
        line-height: 1.35em;
    }
    .breadcrumb-wrap {
        margin-top: 0px;
    }
    .about p {
        font-size: 16px;
        line-height: 1.35em;
    }

    .about p span {
        font-weight: bold;
        font-size: 20px;
        color: #008ECC;
    }
    .home-slider {

        position: relative;
        top: 0px;
    }

    .navbar-custom img {
        position: relative;
        top: 0px;
        /*background: rgba(255, 255, 255, 0.4);*/
        background-color: white;
        height: 115px;
        width: 115px;
       padding: 10px;
        border-radius: 50%;
        /*width: 15vw;*/
        /*-webkit-border-radius: 60px 50px 50px 50px;*/
        /*-moz-border-radius: 60px 50px 50px 50px;*/
        /*border-radius: 60px 50px 50px 50px;*/
    }

    .owl-carousel .item {
        height: 90vh;
        display: block;
        position: relative;
        top: -95px;
    }
    .item img {
        max-width: 100%;
        height: auto;
    }
    .bottom-left {
        position: absolute;
        bottom: 100px;
        color: #fff;
        left: 50px;
        min-width: 30%;
        /*line-height: 20em;*/
        background: rgba(100, 149, 237, 0.6);
        border-radius: 50px 50px 50px 50px;
        /*background-color: #008ff0;*/
    }

    .bottom-left .slidertextone {
        font: italic 5.5em 'Source Sans Pro', sans-serif;
        color: white;
        width: 100%;
        text-align: left;
        text-shadow: 2px 2px 4px #000000;
        bottom: -20px;
        position: relative;
    }

    .bottom-left .slidertexttwo {
        font: italic 5.5em 'Source Sans Pro', sans-serif;
        color: white;
        text-align: right;
        text-shadow: 2px 2px 4px #000000;
        padding-right: 8px;
        bottom: 20px;
        position: relative;
    }

    .navbar-custom-collapse {
        font-size: 1.25em;
        position: relative;
        left: 50px;

    }


}

/***===================RESPONSIVE MEDIA QUERIES SECTION END========================***/





