/*
***
***********************************MAIN BODY
***
*/

html {
    /*background: lightgrey;*/
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    /*background: whitesmoke;*/
    overflow: scroll;
    width: 100%;
    margin: 0 auto;
    /*padding: 3em;*/
    font: 100%/1.4 serif;
    border: 1px solid rgba(0,0,0,0.25)
}
body::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/*
***
***********************************SLIDER SECTION
***
*/
.animated  {
    -webkit-animation-duration : 3s  ;
    animation-duration : 3s  ;

    -webkit-animation-delay : 500ms  ;
    animation-delay : 500ms  ;
}
.animate-out {
    -webkit-animation-delay : 0ms  ;
    animation-delay : 0ms  ;
}
/*.owl-item {*/
    /*display: table;*/
/*}*/
.owl-carousel .item {
    min-height: 80vh;
    /*background-color: #fc0;*/
    display:flex;
    vertical-align: middle;
    text-align: center;
}
.btn {
    display: inline-block;
    line-height: 35px;
    height: 35px;
    text-align: center;
    padding: 0 20px;
    width: auto;
    background-color: #000;
    text-decoration: none;
    color: #fff;
}
/*.slideBackgroundImage{*/
/*background-image: url('../images/pic.jpg');*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*position: relative;;*/
/*}*/
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: #008ff0;
    /*opacity: 0.4;*/
}

/*
***
***********************************SERVICES SECTION
***
*/

/*
***
***********************************EVENTS SECTION
***
*/

/*
***
***********************************LOCATION SECTION
***
*/

/*
***
***********************************BREADCRUMBS SECTION
***
*/

/*
***
***********************************ABOUT SECTION
***
*/

.about {
    /*color: #efedef;*/
    /*background: #2196f3;*/
    /*background: #0d47a1;*/
    /*opacity: 0.6;*/
}
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}
.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden; }
.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
    color: #000000;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
.tabs [class*=" tab"] [type="radio"]:hover,
.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #2196f3; }
.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #2196f3; }
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1; }
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    padding: 2rem 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
.tabs .tab-2 {
    width: 50%; }
.tabs .tab-2 [type="radio"] + div {
    width: 200%;
    margin-left: 200%; }
.tabs .tab-2 [type="radio"]:checked + div {
    margin-left: 0; }
.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; }
.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; }

/*
***
***********************************
***
*/



